@*

Method 1:

@helper.form(action = routes.User.loginSubmit()) {
    <input type="text" name="username" /><br/>
    <input type="password" name="password" /><br/>

    <input type="submit" value="Login" />
}

Method 2:

<form method="post" action="@routes.Users.loginSubmit()">
    <input type="text" name="username" /><br/>
    <input type="password" name="password" /><br/>

    <input type="submit" value="Login" />
</form>


Method 3:

@(userForm: Form[UserData])
@helper.form(action = routes.Application.userPost()) {
    @helper.inputText(userForm("name"))
    @helper.inputText(userForm("age"))
}

*@
